# Bağımlılıklar
node_modules/

# Derleme çıktısı
dist/
dist-ssr/

# Günlükler
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editör / işletim sistemi
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yerel ortam değişkenleri
.env
.env.local
.env.*.local
